{% extends "base.html" %}
{% load static %}

{% block content_style %}
<link rel="stylesheet" href="{% static 'css/explore.css' %}">
{% endblock %}

{% block load_jq %}<script src="{% static 'js/jquery/jquery-3.7.0.min.js' %}"></script>{% endblock %}
{% block load_js %}<script src="{% static '/js/jq-ajax-explore.js' %}"></script>{% endblock %}

{% block token %}<meta name="csrf-token" content="{{ csrf_token }}">{% endblock  %}

{% block top-menu__items %}
  <li>
    {% include "include/write.html" %}
  </li>

  <li>
    {% include "include/my.html" with user=user %}
  </li>

  <li>
    <button class="control-element {% if user.id and is_accepted %} active used {% elif user.id %} active {% else %} off {% endif %}" 
            id="like_btn"
            data-like="{{ is_accepted }}">
      <svg width="30px" height="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <use href="{% static 'img/icon/icons.svg' %}#icon-bookmark"></use>
      </svg>
    </button>
  </li>
{% endblock %}


{% block content %}
<div class="wisdom_inner">
  <p class="wisdom" id="wisdom" data-wisdom-id="{{ post.id }}">{{post.text}}</p>

  <div class="control">
    <button class="control-element active" id="next_btn">
      <svg width="30px" height="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <use href="{% static 'img/icon/icons.svg' %}#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>

{% include "main/include/log-reg.html" %}
{% endblock %}


{% block bottom-menu__items %}
<li class="bottom-menu__item">
  <button class="control-element {% if user.id %} active {% else %} off {% endif %} report" 
          id="report_btn">
    <svg width="30px" height="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
      <use href="{% static 'img/icon/icons.svg' %}#icon-exclamation-mark"></use>
    </svg>
  </button>
</li>

<li class="bottom-menu__item">
  <a class="control-element {% if post.reply %} active {% else %} off {% endif %}" id="mail_btn"
     href="{% if post.reply %} mailto:{{ post.author.email }} {% endif %}">
    <svg width="30px" height="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
      <use fill: red; href="{% static 'img/icon/icons.svg' %}#icon-envelope"></use>
    </svg>
  </a>
</li>
{% endblock %}
