.add-btn__wrapper {
    display: flex;
    justify-content: space-around;
}

.write-form__user-input {
    padding: 10px;
    width: clamp(250px, 85vw, 1200px);
    height: 80vh;
}

.write-form__settings {
    display: block;
}