.active.report:hover svg {
    border-radius: 50px;
    background-color: rgb(122, 5, 5);
}

.wisdom_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
}

.used {
    border-radius: 50px;
    background-color: rgb(122, 5, 5);
}